// Base colors
$bg: #eff3f9;
$white: #FFFFFF;
$black: #000000;
$text-color-light: #a4a6af;
$text-color-lighter: #E6E7E8;
$text-color-accent: #196cff;
$box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$box-shadow-hover: rgba(149, 157, 165, 0.2) 0px 8px 24px;
